html, body {
  height: 100%;
  margin: 0;
}
.mask{
  background-color: rgba(0,0,0,.35);
}
.bg-image{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-description{
  background: #f5f5f5;
  border-radius: 0 0 10% 10%;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card{
  max-width: 535px;
}
.card-img-top{
  background-color: rgba(142, 134, 134, 0.25);
  border-radius: 0  0 10px 10px  ;
}
